<div id="<%= dom_id home_page %>">
  <p>
    <strong>Tasks:</strong>
    <%= home_page.tasks %>
  </p>

  <p>
    <strong>Task details:</strong>
    <%= home_page.task_details %>
  </p>

  <p>
    <strong>Date of task:</strong>
    <%= home_page.date_of_task %>
  </p>

</div>
